[submodule "dev_cli\\third_party\\jcli"]
	path = dev_cli\\third_party\\jcli
	url = https://github.com/AntonC9018/jcli
[submodule "kari_stuff/Kari"]
	path = kari_stuff/Kari
	url = https://github.com/AntonC9018/Kari
[submodule "Assets/Source/CommandTerminal"]
	path = game/Assets/Source/CommandTerminal
	url = https://github.com/AntonC9018/command_terminal
[submodule "game/Packages/com.hextantstudios.utilities"]
	path = game/Packages/com.hextantstudios.utilities
	url = https://github.com/AntonC9018/com.hextantstudios.utilities
